// Arrows
.glider-left-arrow,
.glider-right-arrow {
    width: 50px; height: 60px;
    position: relative;
    cursor: pointer;

    &::before,
    &::after {
        content: '';
        position: absolute; left: 25px;
        background-color: map-get($green, 'dark' );
        width: 2px; height: 35px;
    }
}

.glider-left-arrow {
    &::before {
        top: 0;
        transform: rotate(45deg);
    }
    &::after {
        top: 25px; 
        transform: rotate(-45deg);
    }
}

.glider-right-arrow {
    &::before {
        top: 0;
        transform: rotate(-45deg);
    }
    &::after {
        top: 25px; 
        transform: rotate(45deg);
    }
}

// Dots
.glider-dot.active {
    background: map-get($green, 'dark');
}