.btn {
    display: block;
    padding: 10px 20px;
    text-transform: uppercase;

    border-width: 1px;
    border-style: solid;
    border-radius: 25px;

    &--dark {
        border-color: map-get($green, 'dark');
        color: map-get($green, 'dark');
        transition: .3s;

        &:hover {
            background-color: map-get($green, 'dark');
            color: white;
        }
    }

    &--light {
        border-color: white;
        color: white;
        transition: .3s;

        &:hover {
            background-color: map-get($green, 'dark');
            color: map-get($green, 'dark');
        }
    }
}