.container-lg {
    width: 100%; max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-xl {
    width: 100%; max-width: 1470px;
    margin: 0 auto;
    padding: 0 15px;

    @media (max-width: 1400px) {
        max-width: 1280px;
    }
}

section {
    padding-top: 30px; padding-bottom: 30px;
}