.form {
    position: fixed; top: 0; right: 0; bottom: 0; left: 0;
    background-color: rgba(black, $alpha: .5);
    display: none;

    &.active {
        display: block;
        animation: fadeIn .5s forwards;
    }

    &.closing {
        animation: fadeOut .5s forwards;
    }

    &__container {
        background-color: white;
        position: fixed; top: 20vh; left: calc(50% - 400px); z-index: 200;
        width: 600px; height: 40vh;
        padding: 90px;
        box-shadow: 0 0 60px rgba(black, $alpha: .1);
    }

    &__close {
        position: absolute; top: 20px; right: 20px;
        width: 30px; height: 30px;
        cursor: pointer;

        &::before,
        &::after {
            content: ''; left: 15px;
            position: absolute;
            width: 2px; height: 30px;
            background-color: map-get($green, 'dark' );
        }

        &::before {
            transform: rotate(45deg);
        }
        &::after {
            transform: rotate(-45deg);
        }
    }

    // WPForms Custom Styling
    .wpforms-container  {
        .wpforms-form {
            .wpforms-field-container {
                .wpforms-field-text,
                .wpforms-field-name,
                .wpforms-field-email,
                .wpforms-field-textarea {
                    label {
                        color: map-get($green, 'dark' );
                    }
                    input,
                    textarea {
                        border-radius: 30px;
                        border-color: map-get($green, 'dark' );
                        padding: 10px 20px;
                        resize: none;

                    }
                }
                .wpforms-error {
                    padding-top: 5px; padding-left: 10px;
                }
            }
            .wpforms-submit-container {
                button {
                    border-radius: 30px;
                    border-color: map-get($green, 'dark' );
                    color: map-get($green, 'dark' );
                    background-color: transparent;
                    transition: .5s;

                    &:hover {
                        background-color: map-get($green, 'dark' );
                        color: white;
                        transition: .5s;
                    }
                }
            }
        }
    }
}




