.que-hacemos {

    &__box-container {
        display: flex; justify-content: space-between;

        &.aos-animate {
            @for $i from 1 through 3 {
                .que-hacemos__box:nth-child(#{$i}) {
                    animation: fadeInUp 1s forwards;
                    animation-delay: .1s * $i;
                }
            }
        }
    }

    &__box {
        position: relative;
        width: 31%; height: 350px;
        box-shadow: 5px 5px 30px rgba($color: #000000, $alpha: .2);
        border-radius: 15px; 
        overflow: hidden;
        transition: .5s;
        opacity: 0; 

        &:hover {
            .que-hacemos__box-front {
                visibility: hidden; opacity: 0;
                transition: .3s;
            }
            .que-hacemos__box-back {
                visibility: visible; opacity: 1;
                transition: .3s;
            }
        }
    }

    // Front & Back
    &__box-front,
    &__box-back {
        position: absolute; top: 0; left: 0;
        width: 100%; height: 100%;
        transition: .3s;
    }

    // Front
    &__box-image {
        width: 100%; height: 100%;
        object-fit: cover;
    }

    &__box-title-container {
        position: absolute; z-index: 10;
        top: 0; right: 0; bottom: 0; left: 0;
        display: flex; justify-content: center; align-items: center;
    }

    &__box-title {
        color: white;
        text-align: center;
    }

    // Back
    &__box-back {
        visibility: hidden; opacity: 0;
        display: flex; justify-content: center; align-items: center;
    }
}